<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Emi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pesquisa">Pesquisa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cliente">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h1>Bem vindo</h1>
    <p>Desenvolvi uma aplicação em Java usando Spring Boot com Thymeleaf, com o objetivo de apresentar a proposta do meu projeto para um futuro chatbot. Esta aplicação serve como uma demonstração inicial, ilustrando a estrutura e as funcionalidades que serão implementadas na versão final do chatbot.</p>
    <p>A escolha do Spring Boot proporcionou uma base sólida e flexível, permitindo a criação de uma aplicação web eficiente e com uma estrutura bem organizada. A utilização do Thymeleaf para renderização de páginas dinâmicas foi essencial para criar uma interface amigável e interativa, facilitando a navegação e a compreensão do projeto.</p>
    <p>Neste estágio, a aplicação permite uma visão inicial do potencial do chatbot, focando na experiência do usuário e na forma como as interações serão conduzidas. O projeto representa o primeiro passo no desenvolvimento de um assistente virtual capaz de realizar conversas automatizadas, com o objetivo de atender e auxiliar usuários em diversas tarefas.</p>
</div>
</body>
</html>